.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  bottom: -20px;
}

.panel h1 {
  font-size: 22px;
  font-weight: bold;
}

.dateTime {
  color: #272F6B;
}

.panel input {
  border: none;
  padding: 10px;
  color: #F9F9F9;
  border-bottom: 1px solid #F9F9F9;
}

.panel input:focus {
  outline: 0;
  border-bottom: 1px solid #485190;
}

.dashboard {
  background-color: #f9f9f9;
  display: flex;
  padding-left: 250px;
  transition: all 130ms ease-in-out;
  -webkit-transition: all 130ms ease-in-out;
  -moz-transition: all 130ms ease-in-out;
  -o-transition: all 130ms ease-in-out;
}

.sidebar {
  top: 60px;
  left: 0 !important;
  bottom: 0;
  width: 250px;
  background-color: #485190;
  position: fixed;
  padding-top: 20px;
  overflow: hidden;
  transition: all 130ms ease-in-out;
  -webkit-transition: all 130ms ease-in-out;
  -moz-transition: all 130ms ease-in-out;
  -o-transition: all 130ms ease-in-out;
  z-index: 9;
}

.sidebar ul li {
  list-style: none;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.sidebar ul li label {
  display: block;
  font-size:12px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 10px 0;
}

.sidebarTitle {
  color: #fff;
  font-family: "Montserrat", serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 30px 0;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.currencyOverview {
  width: 90% !important;
  margin: 8px auto;
  display: flex !important;
  align-items: center;
  cursor: pointer;
  background: #5f68af;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.currencyOverview:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.12);
}

.currencyOverview .currency-value-overview {
    margin-left: auto;
}

.currencyOverview .currency-name-overview {
  margin-left: 10px;
  color: #ffffff;
}

.right-list {
  padding-left: 250px;
  transition: all 130ms ease-in-out;
  -webkit-transition: all 130ms ease-in-out;
  -moz-transition: all 130ms ease-in-out;
  -o-transition: all 130ms ease-in-out;
}

.list-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 40px;
  width: 100%;
  flex-flow: row wrap;
}

.app-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.app-list-container:after {
  content: "";
  flex: 0 1 47.5%;
  margin: 5px;
}

.currency-more {
  position: absolute;
  top: 15px;
  right: 10px;
}

.dot {
  background-color: #9FACB3;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  margin-top: 2px;
}

.currency-card {
  font-family: 'Montserratregular', serif;
  display: inline-block;
  background-color: #fff;
  flex-basis: 23%;
  margin-top: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.085);
  padding: 15px 15px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: relative;
}

.price-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 7px;
}

.price-content {
  text-align: center;
  color: #6A7088;
}

.price-content span:first-child {
  display: block;
  margin: 0 0 10px 0;
}

.price-data {
  font-size: 14px;
}

.horizontal-line {
  width: 90%;
  height: 1px;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.hours-changement {
  display: flex;
  margin: 25px 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.hours-changement div {
  text-align: center;
}

.hours-changement div span {
  font-size: 14px;
}

.hours-changement div span:nth-child(1) {
  color: #6A7088;
}

.positive-value {
  color: #0dda20;
}

.negative-value {
  color: #e80606;
}

@media screen and (max-width: 1080px){
  .currency-card {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 850px){
  .currency-card {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 620px){
  .currency-card {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 800px) {
  .price {
    float: none;
    width: 100%;
  }

  .charts {
    float: none;
    width: 100%;
  }
}

.currency-card:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
}

.currency-header {
  display: inline-block;
  margin-left: 15px;
}

.symbol-currency {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.currency-name {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.currency-rank {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

@media screen and (max-width: 968px) {
  .right-list {
    padding-left: 0;
  }

  .dashboard {
    padding-left: 0;
  }

  .sidebar {
    left: -260px !important;
  }
}

.toSlideShow {
  left: 0 !important;
}

.toSlideHide {
  left: -210px !important;
}

.select-styling {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 2em;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 1px 7px 1px #00000014;
}

.selectSidebar select {
  width : 100%;
}

.select-styling:after {
  content: '';
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 18px;
  bottom: 20px;
  display: block;
  width: 13px;
  height: 13px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  z-index: -1;
}

.select-styling:before {
  content: '';
  color: #333;
  display: block;
  font-size: 1em;
  height: 100%;
  line-height: 2.5em;
  padding: 0 0.625em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #28306a;
  text-align: center;
  width: 50px;
  z-index: -1;
}

.selectSidebar {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 1px 7px 1px #00000014;
}

.selectSidebar:after {
  content: '';
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 11px;
  bottom: 13px;
  display: block;
  width: 9px;
  height: 9px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  z-index: -1;
}

.selectSidebar:before {
  content: '';
  color: #333;
  display: block;
  font-size: 1em;
  height: 100%;
  line-height: 2.5em;
  padding: 0 0.625em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #28306a;
  text-align: center;
  width: 30px;
  z-index: -1;
}

.period-label {
    display: block;
    margin: 20px 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.select-styling select, .selectSidebar select {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  color: #333;
  display: block;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  padding: 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectSidebar select {
  padding: 0.4em;
}

.select-styling select::-ms-expand, .selectSidebar select::-ms-expand {
  display: none;
  /* to ie 10 */
}

.select-styling select:focus, .selectSidebar select:focus {
  outline: none;
}

:-moz-any(.select-styling):before,
:-moz-any(.select-styling):after,
:-moz-any(.selectSidebar):before,
:-moz-any(.selectSidebar):after, {
  pointer-events: none;
  z-index: 1;
}

.searchCurrency input {
  color: #fff !important;
  font-size: 12px;
}

.searchCurrency input::placeholder {
  color: rgba(255,255,255,0.5);
}

.searchCurrency .bar {
  border-bottom: 0.0625rem solid #F8F8F8;
}

.searchCurrency .bar::before {
  background: #fff;
}

.actions-list {
  display: none;
}

.currencies-list-overview {
  display: none;
}

@media screen and (max-width: 968px) {
  .actions-list {
    display: block !important;
    width: 80%;
    margin: 15px 0;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }

  .currencies-list-overview {
    display: block;
    width: 100%;
    margin: 15px auto;
  }

  .currencies-list-overview h3 {
    margin: 20px auto;
    text-align: center;
  }

  .currencies-list-overview li {
    list-style: none;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }

  .actions-list li {
    display: block;
    margin: 15px 0;
  }

  .form-group {
    margin: 0;
  }

  .panel {
    display: flex;
    flex-direction: column;
  }

  .searchCurrency::placeholder{
    color: #333;
  }

  .searchCurrency .bar::before {
    background: #272F6B;
  }

  .searchCurrency .bar {
    border-bottom: 0.0625rem solid #3B4589;
  }
}

#loading {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: #f5f5f5;
}

html .loader,
body .loader {
  height: 50px;
  width: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

html .loader::after, html .loader::before,
body .loader::after,
body .loader::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border: solid 4px transparent;
  border-radius: 50%;
  -webkit-animation: wiggle 1.4s ease infinite;
          animation: wiggle 1.4s ease infinite;
}

html .loader::before,
body .loader::before {
  border-top-color: #272F6B;
  border-bottom-color: #BB8CE2;
}

html .loader::after,
body .loader::after {
  border-left-color: #48518D;
  border-right-color: #80EDF6;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.5);
            transform: rotate(180deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
