<div class="wrapper">
	<div class="banner" style="background-image: url('../img/contact-banner.png');">
			<h1>Besoin de renseignements ? Contactez-nous</h1>
		</div>
		<div class="container">
			<p class="text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum at lectus 
				eget sagittis. Quisque lobortis eget velit vel lobortis. Sed a ex ut ante congue semper.
				Interdum et malesuada fames ac ante ipsum primis in faucibus.
				Quisque lobortis eget velit vel lobortis. Sed a ex ut ante congue semper. 
				Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ut pharetra dolor.
			</p>
		</div>
	</div>
</div>
<div class="line-left">
	<svg width="19px" height="521px" viewBox="0 0 19 521" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
			<g id="Contact" transform="translate(-78.000000, -384.000000)" stroke-width="2">
				<path d="M79,479.5 L79,903.501179" id="Line" stroke="#80EDF6"></path>
				<path d="M96,385.5 L96,691.040914" id="Line-Copy" stroke="#BB8CE2"></path>
			</g>
		</g>
	</svg>
</div>
<div class="line-right">
	<svg width="21px" height="354px" viewBox="0 0 21 354" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
			<g id="Contact" transform="translate(-925.000000, -588.000000)" stroke-width="2">
				<path d="M926,589.5 L926,759" id="Line-Copy-2" stroke="#BB8CE2"></path>
				<path d="M945,703.5 L945,941" id="Line-Copy-3" stroke="#80EDF6"></path>
			</g>
		</g>
	</svg>
</div>
<div class="wrapper-grey">
	<div class="container">
		<div class="contact-card-form">
			<form id="contact-form">
				<div class="contact-form-container">
					<div class="contact-form-left">
							<div class="form-group">
								<input type="text" required="required"/>
								<label class="control-label" for="input">Nom</label><i class="bar"></i>
							</div>
							<div class="form-group">
								<input type="text" required="required"/>
								<label class="control-label" for="input">Prénom</label><i class="bar"></i>
							</div>
							<div class="form-group">
								<input type="mail" required="required"/>
								<label class="control-label" for="input">Mail</label><i class="bar"></i>
							</div>
					</div>
					<div class="contact-form-right">
						<div class="form-group">
							<input type="text" required="required"/>
							<label class="control-label" for="textarea">Sujet</label><i class="bar"></i>
						</div>
						<div class="form-group">
							<textarea rows="6" name="message" id="message" placeholder="Votre Message..."></textarea>
						</div>
					</div>
				</div>
		</div>
				<div class="contact-button-container">
					<button class="contact-button" type="button"><span>Envoyer</span></button>
				</div>
			</form>
	</div>
</div>