<div class="wrapper dashboard">

	<sidebar></sidebar>
	<div class="content-currency">
		<div class="currency-title">
					<img check-image ng-src="{{ currency.img }}">
	        <h1>{{ currency.name}}</h1>
	        <span>Rang {{ currency.rank }}</span>
    	</div>
    	<div class="price">
    		<div class="price-USD price-value">
    			<span>Prix (USD)</span>
    			{{ currency.cmc_price_usd }}
    		</div>
    		<div class="vertical-line"></div>
    		<div class="price-EUR price-value">
    			<span>Prix (EUR)</span>
    			{{ currency.cmc_price_usd }}
    		</div>
    	</div>
    	<div class="charts">
	        <b>Changement sur 1h</b> : {{ currency.percent_change_1h }} %<br>
	        <b>Changement sur 24h</b> : {{ currency.percent_change_24h }} % <br>
	        <b>Changement sur 7 jours</b> : {{ currency.percent_change_7d }} % <br>
					<div style="width: 100%">
						<graphic-line-chart datas="chartPrices" labels="chartDates" options="options" series="series_line_chart" colors="colors_reactive_chart"></graphic-line-chart>
					</div>
	    </div>
	</div>

	</div>
</div>
