<div class="wrapper dashboard">

	<sidebar></sidebar>
	<div class="content-currency">
		<div class="currency-title">
			<div class="left-title">
				<img check-image="../img/coin.png" ng-src="{{ currency.img }}">
				<h1>{{ currency.name}}</h1>
			</div>
			<div class="right-title">
				<span>Rang {{ currency.rank }}</span>
			</div>
    	</div>
    	<div class="price">
    		<div class="price-USD price-value">
    			<span>Prix (USD)</span><br/><br/>
				<span class="price-data">$ {{ currency.cmc_price_usd }}</span>
    		</div>
    		<div class="vertical-line"></div>
    		<div class="price-EUR price-value">
    			<span>Prix (EUR)</span><br/><br/>
				<span class="price-data">€ {{ currency.cmc_price_usd }}</span>
    		</div>
    	</div>
    	<div class="charts">

			<div class="select-period">
				<select class="selectPeriod" ng-change="updateFilter()" ng-model="selectPeriod">
					<option value="">Général</option>
					<option value="7">7 derniers jours</option>
					<option value="30" ng-selected="true">30 derniers jours</option>
					<option value="91.25">3 derniers mois</option>
					<option value="182.5">6 derniers mois</option>
					<option value="365">12 derniers mois</option>
					<option value="730">2 dernières années</option>
				</select>
			</div>

			<span class="infos_currency changement">Changement</span>
			<div class="hours-changement">
				<div>
					<span>Sur 1h</span><br/>
					<span>{{ currency.percent_change_1h }}%</span>
				</div>
				<div>
					<span>Sur 24h</span><br/>
					<span>{{ currency.percent_change_24h }}%</span>
				</div>
				<div>
					<span>Sur 7j</span><br/>
					<span>{{ currency.percent_change_7d }}%</span>
				</div>
			</div>
			<div style="width: 100%;">
				<graphic-line-chart datas="chartPrices" labels="chartDates" options="options" series="series_line_chart" colors="colors_reactive_chart"></graphic-line-chart>
			</div>
	    </div>
	</div>
	</div>
</div>
