<div class="wrapper">
	<div id="banner_landingpage">
		<h1>L’avenir de la crypto-monnaie dépend de vous !</h1>
		<img src="../img/line-header.svg" alt="dashboard">
	</div>
	<div class="container" style="padding-top: 290px">
		<img src="../img/dashboard_homepage.svg" alt="dashboard" class="presentation-img">
		<h2 class="title center-border">Un dashboard qui vous facilitera la vie</h2>
		<p class="text center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis.</p>
		<a href="" class="main-button">Découvrir</a>
	</div>
	<div id="subpresentation-dashboard">
		<div>
			<h2 class="title left-border">Suivez le cours de toutes vos crypto monnaies</h2>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus.</p>
		</div>
		<img src="../img/dashboard2_homepage.svg" alt="dashboard-content">
	</div>
</div>