<div class="wrapper">
	<div class="banner" style="background-image: url('../img/project-background.png');">
		<h1>Les origines de notre projet</h1>
	</div>

	<div class="container">
		<h2 class="title center-border">Pourquoi avoir choisi ce projet</h2>
		<p class="text center">Nous avons décidé de travailler sur les crypto-monnaies suite à l'engouement autour de ce sujet. Nous sommes une équipe passionnée et intéressée par cet univers très particulier. Nous souhaitions développer une application proposant rapidement et facilement les cours des monnaies virtuelles.</p>
	</div>

	<!-- <div class="full">
		<h2 class="title center-border">Trois pôles de compétences</h2>
		<div class="rubrics">
			<div class="rubric">
				<div class="number">
					<span>1<div></div></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis.</p>
			</div>
			<div class="rubric">
				<div class="number">
					<span>2<div></div></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis.</p>
			</div>
			<div class="rubric">
				<div class="number">
					<span>3<div></div></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis.</p>
			</div>
		</div>
	</div> -->

	<div class="container" style="background: #F6F6F6;">
		<h2 class="title left-border">Les objectifs de notre projet</h2>
		<div class="text left-icon right-text">
			<div>
				<i>$</i>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante.</p>
		</div>

		<div class="text left-icon right-text">
			<div>
				<i>$</i>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante.</p>
		</div>

		<div class="text left-icon right-text">
			<div>
				<i>$</i>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante.</p>
		</div>
	</div>
</div>
