<div class="wrapper">
	<div class="banner" style="background-image: url('../img/project-background.png');">
		<h1>Les origines de notre projet</h1>
	</div>

	<div class="container">
		<h2 class="title center-border">Pourquoi avoir choisi ce projet</h2>
		<p class="text center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at quam vitae ipsum gravida fringilla at vitae dui. Vestibulum mattis in libero eu dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam sit amet nunc a orci pretium ultricies. Vivamus pretium sapien quis tempor sagittis.</p>
	</div>
</div>