<div class="wrapper wrapper-team">
	<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Clément Delannoy</h2>
          <p class="slide__text-desc">Webdesigner</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor pharetra orci rhoncus cursus. Praesent porta aliquet tincidunt. Nulla facilisi. Suspendisse ut sem ante. Donec quis purus vulputate eros mollis blandit. Donec id mauris tristique, cursus velit id, condimentum nisl. Donec sed blandit lacus.</p>
        </div>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Jean-David Flament</h2>
          <p class="slide__text-desc">Développeur</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor pharetra orci rhoncus cursus. Praesent porta aliquet tincidunt. Nulla facilisi. Suspendisse ut sem ante. Donec quis purus vulputate eros mollis blandit. Donec id mauris tristique, cursus velit id, condimentum nisl. Donec sed blandit lacus.</p>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Thomas Laigneau</h2>
          <p class="slide__text-desc">Développeur</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor pharetra orci rhoncus cursus. Praesent porta aliquet tincidunt. Nulla facilisi. Suspendisse ut sem ante. Donec quis purus vulputate eros mollis blandit. Donec id mauris tristique, cursus velit id, condimentum nisl. Donec sed blandit lacus.</p>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Guillaume Souillard</h2>
          <p class="slide__text-desc">Data scientist</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id dolor pharetra orci rhoncus cursus. Praesent porta aliquet tincidunt. Nulla facilisi. Suspendisse ut sem ante. Donec quis purus vulputate eros mollis blandit. Donec id mauris tristique, cursus velit id, condimentum nisl. Donec sed blandit lacus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
