<div class="wrapper wrapper-team">
	<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Clément Delannoy</h2>
          <p class="slide__text-desc">Webdesigner</p>
					<p class="slide__desc">De part son expérience en design, Clément a su développer une identité graphique moderne et adaptée à son thème, en complète adéquation avec notre vision du projet.</p>
        </div>
      </div>
    </div>
    <div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Jean-David Flament</h2>
          <p class="slide__text-desc">Chef de projet et Développeur</p>
					<p class="slide__desc">Tout au long du projet, Jean-David a su maintenir une certaine organisation du projet et de l'équipe, tout en développant la partie front-end et back-end de l'application grâce à son profil full-stack.</p>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Thomas Laigneau</h2>
          <p class="slide__text-desc">Assistant Chef de projet et Développeur</p>
					<p class="slide__desc">Passionné des nouvelles technologies, Thomas a su se démarquer en temps que développeur et assistant chef de projet afin de suivre d'un point de vue technique et opérationnel l'ensemble de l'application.</p>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0 0 L0 1500 L450 0 H0 0 V0 0 Z" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Guillaume Souillard</h2>
          <p class="slide__text-desc">Data scientist</p>
					<p class="slide__desc">Expert en manipulation de données, Guillaume a participé activement au développement de l'API de Cryptee. Ses connaissances et son expérience sur les cryptos-monnaies sont le moteur du projet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
