<nav class="navbar-top" role="navigation">
    <div class="logo-navbar-top">
        <a ui-sref="landing">Cryptee</a>
    </div>
    <ul class="menu-navbar-top" style="float: right">
        <li><a ui-sref="project" ng-class="{ 'active': isActive('/project')}">Le projet</a></li>

        <li><a ui-sref="team" ng-class="{ 'active': isActive('/team')}">L'équipe</a></li>

        <li><a ui-sref="contact" ng-class="{ 'active': isActive('/contact')}">Contact</a></li>

        <li><a ui-sref="dashboard" ng-class="{ 'active': isActive('/dashboard')}">Dashboard</a></li>
    </ul>
</nav>