<!--SIDEBAR-->
<div class="sidebar">
    <h3 class="sidebarTitle">Affiner les résultats</h3>
    <ul>
      <li>
        <label>Rechercher</label>
        <div class="form-group searchCurrency">
          <input placeholder="Nom crypto-monnaie..." ng-model="searchCurrency">
          <i class="bar"></i>
        </div>
      </li>
      <li>
        <label>Plus gros changement</label>
        <div class="selectSidebar">
          <select ng-change="updateChange()" ng-model="selectChange" name="selectChange">
            <option value="">---</option>
            <option value="percent_change_1h">Sur 1h</option>
            <option value="percent_change_24h">Sur 24h</option>
            <option value="percent_change_7d">Sur 7 jours</option>
          </select>
        </div>
      </li>
      <li>
        <label>Par valeur</label>
        <div class="selectSidebar">
          <select ng-change="updateValue()" ng-model="selectValue" name="selectValue">
            <option value="">---</option>
            <option value="ascending">Croissant</option>
            <option value="descanding">Décroissant</option>
          </select>
        </div>
      </li>
    </ul>
</div>
